style {
  box-sizing: border-box;
}

@font-face {
  font-family: Sen;
  src: url('font/Sen.ttf');
} 

body {
  font-family: Sen;
  color: white;
  font-size: 13px;
}

::selection {
  color: orangered;
}

.menu {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.menu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
  font-family: Sen;
  font-size: 20px;
  margin: 10px;
}

footer{
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}

i.partleft {  
  width : 100px;  
  vertical-align:middle;
}